body {
    /* Make sure the vertical scrollbar is always present, so that horizontally-centered
       content doesn't jump to the left or right when the mode changes.
       */
    overflow-y: scroll;
}

.content {
    padding-top: 0px;
}

button {
    border: 1px solid black;
}

.options-button {
    float: right;
    position: absolute;
    top: 13px;
    right: -11px;
}

.item-choice-outer {
    float: left;
    position: relative; /* This is needed for the centering of the "inner" div. */
    width: 96px;
    height: 71px;
    margin: 4px;
    border: 1px solid black;
    background-color: blanchedalmond;
    text-align: center;
    font-size: 12px;
    cursor: default;
}

/* The point of this "inner" div is to center its contents within the "outer" div. */
.item-choice-inner {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: 94px;
    padding: 0px 5px;
}

#sticky {
    position: sticky;
    top: 0px;
    padding: 15px 0px 10px 0px;
    width: 100%;
    z-index: 1;
    background-color: white;
}

h1 {
    text-align: center;
}

.target-item-category-choice {
    text-align: center;
}

.category {
    display: inline-block;
    width: 70px;
    height: 28px;
    line-height: 28px;
    margin: 0px 5px;
    border: 1px solid black;
    text-align: center;
    cursor: default;
}

.category-selected {
    font-weight: bold;
    background-color: mediumspringgreen;
}

.category-unselected {
    background-color: lightcyan;
}

.summary-panel {
    /* These two lines centre the panel horizontally. */
    display: table;
    margin: 0 auto;
}

.target-item {
    margin-top: 27px;
    margin-left: 0px;
    margin-right: 10px;
}

.already-chosen-items {
    display: inline-block;
}

.chosen-item-slot-outer {
    height: 31px;
    width: 204px;
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 1px;
}

.chosen-item-slot-outer-first {
    height: 32px;
    border-top-width: 1px;
}

.chosen-item-slot-outer-not-yet-chosen {
}

.chosen-item-slot-outer-already-chosen-not-of-placatory-type-for-any-recipe {
    background-color: blanchedalmond;
}

.chosen-item-slot-outer-already-chosen-of-placatory-type-for-some-but-not-all-recipes {
    background-color: #bfffdf;
}

.chosen-item-slot-outer-already-chosen-of-placatory-type-for-all-recipes {
    background-color: lawngreen;
}

.chosen-item-slot-icon {
    margin: 3px;
}

.chosen-item-slot-name {
    display: inline-block;
    vertical-align: 9px;
    cursor: default;
}

.chosen-item-slot-name-not-yet-chosen {
    font-style: italic;
}

.chosen-item-slot-name-already-chosen {
    font-weight: bold;
}

.unchoose-item-button {
    height: 20px;
    line-height: 1.08em;
    float: right;
    position: relative;
    top: 5px;
    margin-right: 5px;
    font-weight: bold;
}

.button-container-clear-and-restart {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    top: -38px;
    width: 70px;
}

.clear-button {
    width: 100%;
    height: 29px;
    line-height: 28px;
    margin-bottom: 5px;
}

.restart-button {
    width: 100%;
    height: 29px;
    line-height: 28px;
}

.item-choice-list {
    /* Causes this div to have height such that it envelops its contents, instead of the
       height 0 it would otherwise have (because all of its contents are floats).
       */
    overflow: hidden;
    /* Allow the bottom of the list to get nicely clear of the bottom of the browser window when the user scrolls all the way to the bottom. */
    margin: 0px 0px 12px 0px;
}

.input-item-choice-nonviable {
    background-color: gray;
}

.input-item-choice-viable-not-of-placatory-type {
}

.input-item-choice-viable-of-placatory-type-type-matters {
    background-color: lawngreen;
}

.input-item-choice-viable-of-placatory-type-type-doesnt-matter {
    background-color: #bfffdf;
}

.item-sprite {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('https://orderofthehammer.com/cram-it-item-sprites.png');
}
